@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #2d3a8c;
    height: 100vh;
}

.heading {
    color: #ffffff;
    font-family: "Roboto";
}

.container {
    background-color: #ffffff;
    border-radius: 26px;
    padding: 10px;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #323f4b;
}

.container-1 {
    background-color: #f5f7fa;
    border-radius: 26px;
    padding: 20px;
    border: 1px solid #cbd2d9;
}

button {
    background-color: #21396c;
    color: #ffffff;
    border-radius: 8px;
    padding: 5px;
    border: 0px;
    height: 40px;
    width: 80px;
}


ul {
    background-color: #f5f7fa;
    border-radius: 26px;
    padding: 20px;
    border: 1px solid #cbd2d9;
    list-style-type: none;
}

.err-msg {
    color: #dc3545;
}