@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.bg-container {
    background-image: linear-gradient(to right, #f3eaff, #dac0ff);
    padding: 10px;
}

.main-heading {
    color: #690cb0;
    font-family: "Roboto";
    font-weight: bold;
}

.on {
    color: #3e4c59;
}

img {
    height: 50px;
    width: 50px;
}

span {
    font-size: 40px;
    color: #323f4b;
}

.para {
    color: #3e4c59;
    font-size: 20px;
}

.text-container {
    background-color: #f3eaff;
    border-radius: 16px;
    padding: 10px;
    border: 1px solid #9aa5b1;
}

textarea {
    border-radius: 16px;
}

.submit-btn {
    background-color: #690cb0;
    color: #ffffff;
    border-radius: 8px;
}

.reset-btn {
    background-color: #f2ebfe;
    border-radius: 8px;
    width: 60px;
    border: 0px;
}

.spinner {
    display: none;
}