@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background-container {
    background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/time-converter-bg.png");
    background-size: cover;
}

.heading {
    font-family: "Open Sans";
    color: #ffffff;
    font-weight: 600;
    font-size: 50px;
}

.paragraph {
    color: #ffffff;
    font-size: 20px;
    font-family: "Open Sans";
}

.hours-minutes {
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans";
}

.user-input {
    border-radius: 8px;
    color: #000000;
    font-family: "Open Sans";
    padding-left: 10px;
    font-weight: bold;
}

.button {
    border-radius: 8px;
    height: 40px;
    width: 150px;
    font-family: "Open Sans";
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.show-seconds {
    background-color: transparent;
    border-color: #ffffff;
    border-radius: 8px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: #ffffff;
}